# DeepSeek Web Authentication Bearer Token
# Ambil dari DevTools (F12) -> Application/Storage -> LocalStorage / Request Header `authorization` di chat.deepseek.com
DEEPSEEK_TOKEN=qosOTpuhzASFMfNcNw1rTJhJXaV6CK9icR3C94feTk1ZY7IPBpFI/Ogk9pOp69ek

# Proxy Configuration
HOST=0.0.0.0
PORT=8550
DEBUG=false

# Optional Proxy Protection: jika diisi, client wajib kirim header Authorization: Bearer <PROXY_API_KEY>
PROXY_API_KEY=

# Persistent Session Data Directory
DATA_DIR=./data
